[submodule "Assets/Plugins/physics-library"]
	path = Assets/Plugins/physics-library
	url = https://github.com/nilpunch/physics-library.git
[submodule "Assets/Plugins/soft-math"]
	path = Assets/Plugins/soft-math
	url = https://github.com/nilpunch/soft-math.git
[submodule "Assets/Plugins/pluggable-math"]
	path = Assets/Plugins/pluggable-math
	url = https://github.com/nilpunch/pluggable-math.git
